html {
  margin:0; padding:0;
  background-color:#999;
}
body {
  margin:1em auto;
  padding:1em;
  border 1px solid #000;
  border-radius:0.5em;
  box-shadow:0.25em 0.25em 0.25em;
  max-width: 800px;
  background-color:#ccc;
  color:#fff;
}
a, a:visited {color:#666;}

